
* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
button:hover, button:focus {
    outline: none;
}


#chat, #filter {
    position: fixed;
    z-index: 4;
    top: 0;
    height: 100%;
    background-color: rgb(0,125,50);
}
#chat {
    width: 245px;
    left: -245px;
  /*  transition: left 0.8s; */
}
#filter {
    width: 235px;
    right: -235px;
  /*  transition: right 0.8s; */
}



#filter>h4 {
    margin: 0;
    padding: 0;
    line-height: 52px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
#filter>h4>span {
    border-bottom: ridge 3px rgba(0,0,0,0.6);
}
#filter .overflow-wrapper {
    height: calc(100% - 52px);
    overflow-y: auto;
}
#filter .overflow-wrapper::-webkit-scrollbar {
    width: 8px;
}
#filter .overflow-wrapper::-webkit-scrollbar-track {
   background-color: yellow;
   border-radius: 4px;
}
#filter .overflow-wrapper::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 4px;
}



#chat>#chatBtn, #filter>#filterBtn {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    background-color: rgba(100,100,100,0.3);
}
#chat>#chatBtn>span, #filter>#filterBtn>span {
   font-size: 25px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
#chat>#chatBtn:hover, #filter>#filterBtn:hover {
  box-shadow: 0 0 3px 2px white;
  border-color: black;
}

#chat>#chatBtn {
    right: -20%;
    transition: right 0.8s, transform 0.8s;
    animation: 1s infinite alternate;
}
@keyframes alert {
  from {
    color: black;
  }
  to {
    color: red;
    box-shadow: 0 0 5px 3px red;
  }
}
#filter>#filterBtn {
     transition: left 0.8s, transform 0.8s;
}



#filter .amount, #filter .ordDir, #filter .propVal, #filter .initVal {
    margin: 3px 2px;
    border: 1px ridge black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
}

#filter .amount label, #filter .propVal label, #filter .initVal label {
    display: inline-block;
    margin: 3% 1% 3% 6%;
    font-size: 0.9em;
}

#filter input:disabled {
    background-color: #AAA;
}

#filter .inputFeedback {
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
    background: #FBB;
    color: #A00;
}

#filter .amount input {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    opacity: 0.8;
    width: 90%;
    height: 20px;
    margin: 3% 5% 6%;
    background-image: linear-gradient(green 10%, yellow 30%, yellow 70%, green 90%);
    box-shadow: 2px 1px 2px black;
    border-radius: 10px;   
}
#filter .amount input:hover {
    opacity: 1;
}
#filter .amount input::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance:none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: radial-gradient(yellow 40%, green 60%);
} 
#filter .amount input::-webkit-slider-thumb:hover {
    background-image: radial-gradient(yellow 50%, green 70%);
}
#filter .amount input::-moz-range-thumb {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: radial-gradient(yellow 40%, green 60%);
}
#filter .amount input::-moz-range-thumb:hover {
    background-image: radial-gradient(yellow 50%, green 70%);
}

#filter .ordDir button, #filter .propVal>button, #filter .initVal button {
    cursor: pointer;
    opacity: 0.8;
    padding: 5px 2px;
    margin: 5%;
    background-image: linear-gradient(green 3%, yellow 30%, yellow 70%, green 97%);
    box-shadow: 0 0 3px 1px black;
    border-radius: 4px;
    text-align: center;
}
#filter .ordDir button.selected, #filter .propVal>button.selected, #filter .initVal button.selected {
    box-shadow: 0 0 3px 2px white;
    opacity: 1;
    color: green;
    font-weight: bold;
}

#filter input:focus {
   outline: none;
}
#filter .ordDir button {
    display: block;
    width: 90%;
}
#filter hr {
    border: none;
    border-bottom: 2px ridge black;
}
#filter .propVal>button, #filter .initVal button {
    display: inline-block;
    margin-top: 3%;
    width: 40%;
}
#filter .ordDir button:hover, #filter .propVal>button:hover, #filter .initVal button:hover {
    opacity: 1;
    background-image: linear-gradient(green 5%, yellow 15%, yellow 85%, green 95%);
    color: green;
    font-weight: bold;
}
#filter .ordDir button:active, #filter .propVal>button:active, #filter .initVal button:active {
    box-shadow: none;
}



#filter .propVal>div:first-of-type {
    position: relative;
}
#filter .propVal .deleteBtn {
    position: absolute;
    top: 0;
    right: 5%;
    bottom: 0;
    width: 1.5em;
    margin: 0.5em;
    padding: 0;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    background-color: rgb(170, 170, 170);
    border: outset 3px grey;
    border-radius: 30%;
}
#filter .propVal .deleteBtn:hover {
    border-color: rgb(195, 195, 195);
    color: white;
}
#filter .propVal input { 
    display: block;
    width: 90%;
    padding: 0.5em 2em 0.5em 0.5em;
}

#filter .propVal  input, #filter .initVal input {
    margin: 0 5%;
    border: inset 0.2em grey;
    border-radius: 4px;
}
#filter .propVal input:hover, #filter .propVal input:focus ,
 #filter .initVal input:hover, #filter .initVal input:focus {
    box-shadow: 0 0 2px 1px white;
}
#filter .propVal input:hover:disabled, #filter .initVal input:hover:disabled {
    box-shadow: none;
}



#filter .initVal input {
    display: inline-block;
    padding: 0.5em;
}
#filter .initVal .initValDate input {
    width: 90%;
}
#filter .initVal .initValRating input {
    width: 50%; 
    text-align: center;
}
#filter .initVal label[for='rating'] {
    width: 30%;
}



header, .topTables, .content {
    margin: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
header {
    padding: 10px 50px;
    background-color: rgb(65, 225, 255);
}
header::after {
    content:'';
    display:table;
    clear:both;
}


@media screen and (min-width:950px){
    .chat>button, .filter>button {
        display: none;
    }
    header, .topTables, .content {
        margin: 5px 175px 5px 195px;
    }
    header {
        padding: 10px;
    }
} 
 

nav {
    display: flex;
    flex-direction: column;
}
nav>div {
    display: flex;
    align-items: center;
    border: 3px outset navy;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    cursor: pointer;
}
nav a {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}
nav>div:first-of-type, nav>div.navLast {
    padding: 8px;
    justify-content: center;
    text-align: center;
}
nav>div:hover {
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
    color: white;
}
nav>div:active, nav>div.highlight {
    border-style: solid;
    border-color: rgb(0, 100, 255);
}
nav>div.highlight {
    font-weight: bold;
    color: white;
    box-shadow: 0 0 3px 1px white;
}

nav>div:nth-of-type(n+2){
    margin-top: 5px;
}
@media screen and (min-width: 600px){
    nav {
      flex-direction: row;
    }
    nav>div {
      flex-grow: 1;
      flex-basis: 20%;
    }
    nav>div:first-of-type {
      flex-basis: 32%;   /*  Napis przy hover -> bold i się nie mieścił  */
    }
    nav>div:nth-of-type(n+2) {
      margin-left: 5px;
      margin-top: 0;
    }
}
@media screen and (min-width:750px){
    nav>div:first-of-type {
        flex-basis: 20%;
    }
}  



.topTables, .content {
    padding: 10px;
}
.topTables {
    background-color: white;
}

.topTable {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 2% 5%;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.25);
    box-shadow: 0 0 2px 1px white , 0 0 5px 2px rgba(0,0,0,0.75);
}
.topTable table {
    width: calc(100% - 30px);
}

.switchTable {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 28px;
    height: 90%; 
    padding: 0;
    border-radius: 13px 13px 45% 45% / 13px 13px 50% 50%;
    background-image: radial-gradient(farthest-corner, transparent 30%, green);
}
.switchTable:hover {
   border: 1px solid white;
}
.switchTopTables:hover {
   box-shadow: 0 0 1px 1px white, 0 0 4px 2px black;
}
.switchTable:active, .switchTopTables:active  {
    background-image: radial-gradient(farthest-corner, rgba(0,0,0,0.25) 30%, green);
}
.switchTable .btn-arrow, .switchTopTables .btn-arrow-small {
    position: relative;
    stroke: green;
    stroke-width: 2px;
    fill: transparent;
}
.switchTable .btn-arrow {
    margin: auto;
}
.switchTopTables:hover .btn-arrow-small {
    stroke: black;
}
.switchTable:hover .btn-arrow {
    stroke: white;
}
.switchTopTables:active .btn-arrow-small {
    stroke: black;
}
.switchTable:active .btn-arrow {
    stroke: white;
}
.switchTable:active .btn-arrow, .switchTopTables:active .btn-arrow-small {
    animation: rocket-launch 0.5s 0.5s infinite alternate linear;
}

.switchTopTables {
    display: none;
    width: 85%;
    height: 26px;
    text-align: center;
    border-radius: 5px 5px 35% 35% / 10% 10% 70% 70%;
    background-image: radial-gradient(farthest-corner, transparent 30%, green);
}
.switchTopTables .btn-arrow-small {
    margin: 1px 5%; 
}

.switchTopTables:active .btn-arrow-small:nth-child(1) {
  animation-delay: 0.6s;
}
.switchTopTables:active .btn-arrow-small:nth-child(2) {
    animation-delay: 0.3s;
  }
.switchTopTables:active .btn-arrow-small:nth-child(3) {
  animation-delay: 0.75s;
}
.switchTopTables:active .btn-arrow-small:nth-child(4) {
  animation-delay: 0.9s;
}
.switchTopTables:active .btn-arrow-small:nth-child(5) {
  animation-delay: 0.45s;
}

.topTable table caption {
    padding: 2px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 0 0 2px black, 0 0 5px black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topTable table tr {
    font-family: 'Courier New', Courier, monospace;
}
.topTable table tr:nth-of-type(1) {
    background-color: gold;
}
.topTable table tr:nth-of-type(2) {
    background-color: silver;
}
.topTable table tr:nth-of-type(3) {
    background-color: darkgoldenrod;
}
.topTable table tr:nth-of-type(n+4) {
    background-color: rgb(50, 196, 111)
}

.topTable table td {
    padding-top: 3px;
    padding-bottom: 3px;
} 
.topTable td:first-child {
    width: 12.5%;
    padding-right: 2.5%;
    text-align: right;
}
.topTable td:nth-child(2) {
    width: 65%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.topTable td:last-child {
    width: 22.5%;
    padding-left: 2.5%;
    text-align: left;
}

.topTable tr:first-of-type>td:first-child, .topTable tr:nth-of-type(4)>td:first-child {
    border-top-left-radius: 13px;
}
.topTable tr:first-of-type>td:last-child, .topTable tr:nth-of-type(4)>td:last-child {
    border-top-right-radius: 13px;
} 
.topTable tr:nth-of-type(3)>td:first-child, .topTable tr:last-of-type>td:first-child {
    border-bottom-left-radius: 13px;
}
.topTable tr:nth-of-type(3)>td:last-child, .topTable tr:last-of-type>td:last-child {
    border-bottom-right-radius: 13px;
}

@media screen and (min-width: 650px){
    .topTable:first-child {
        width: 96%;
        margin: 2%;
    }
    .topTable:nth-child(2), .topTable:nth-child(3) {
        display: inline-block;
        width: 46%;
        margin: 2%;
        vertical-align: top;
    }
}
@media screen and (min-width: 1300px){
   .topTable:nth-child(n+1) {
       display: inline-block;
       margin: 1%;
   }
   .topTable:first-child {
      width: 36%;
   }
   .topTable:nth-child(2), .topTable:nth-child(3){
       width:29%;
   }
   .topTable table:nth-child(n+1) {
       width: 100%;
   }
   .topTable:first-child td:first-child {
      width: 11%;
   }
   .topTable:first-child td:nth-child(2) {
       width: 54%;
   }
   .topTable:first-child .td:last-child {
       width: 35%;
   }
   .switchTable {
       display: none;
   }
   .switchTopTables {
       display: block;
       margin: auto;
   }
}



.content {
    position: relative;
    min-height: 500px;
    background-color: rgb(0,255,100);
}



@keyframes rocket-launch {
    0% {
      box-shadow: 0px -10px 3px -6px rgb(150, 180, 255), 0px -15px 4px -6px yellow, 0px -20px 6px -6px rgb(230, 120, 0);
      transform: translate(-3px, 1px);
    }
    25% {
      transform: translate(3px, 3px);
    }
    50% {
      box-shadow: 0px -11px 4px -6px rgb(150, 180, 255), 0px -17px 5px -6px yellow, 0px -24px 8px -6px rgb(230, 120, 0);
      transform: translate(-2px, 6px);
    }
    75% {
      transform: translate(0px, 8px);
    }
    100% {
      box-shadow: 0px -12px 5px -6px rgb(150, 180, 255), 0px -19px 6px -6px yellow, 0px -28px 10px -6px rgb(230, 120, 0);
      transform: translate(2px, 6px);
    }
}