label.inputInfo {
  position: relative;
}
label.inputInfo span {
  position: absolute;
  width: 180px;
  right: 0;
  bottom: calc(100% + 8px);
  border: solid 3px black;;
  border-radius: 12px;
  padding: 6px;
  background: lightgray;
  text-align: center;
}
label.inputInfo span::after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 10px);
  border: solid 10px transparent;
  border-top-color: black;;
}

.forms {
  box-shadow: 0 0 3px 1px white;
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
.forms form {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2% 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(0,0,0,0.3);
}
.forms h2 {
  margin-left: 5%;
  align-self: flex-start;
  font-family: georgia, serif;
  color: white;
}
.forms label {
  font-family: 'courier', monospace;
}
.forms input {
  margin: 3px 0 6px 0;
  padding: 6px;
  border-radius: 6px;
  outline: none;
}
.forms input:focus {
  background-color: rgb(255,255,120);
}
.forms input[type='submit'] {
  width: 90%;
  align-self: center;
  background-color: green;
  color: white;
  font-weight: bold;
  border: solid 2px rgb(220,220,0);
  cursor: pointer;
}
.forms input[type='submit']:hover {
  border-color: rgb(255,255,160);
}
.forms input[type='submit']:active {
  background-color: rgb(0,255,0);
}
.forms .formResp {
  padding: 8px;
  border-radius: 6px;
  align-self: center;
  background-color: #FBB;
  color: #F00;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .forms form {
      align-items: center;
  
    }
    .forms input {
      display: block;
    }
}


/* ACCOUNT NAV BUTTONS */
.buttons {
  text-align: center;
  padding: 8px 0 12px;
}
.buttons button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  border-right: solid 2px darkgreen;
}
.buttons button:last-child {
  border-right-width: 0;
}
.buttons a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.3);
  border-bottom: solid 4px darkgreen;
}
.buttons button:first-child a {
  border-top-left-radius: 8px;
}
.buttons button:last-child a {
  border-top-right-radius: 8px;
}
.buttons a:hover {
  background-color: rgba(0,0,0,0.1);
  color: white;
}
.buttons a:active {
  border-color: rgb(0,190,0);
}
  /* DISABLED WHEN ACTIVE */
.buttons .disabled {
  pointer-events: none;
  background-color: rgba(0,0,0,0.1);
  border-color: rgb(0, 150, 255);
}



  /* MY STATS TABLE */
.stats table {
  margin: auto;
  margin-top: 30px;
  border: ridge 4px green;
}
.stats caption {
  font-size: 1.5em;
  padding: 8px;
  text-align: left;
  color: navy;
  font-weight: bold;
  font-family: georgia, serif;
  text-shadow: 0 0 3px white;
}
.stats tr {
  background-color: rgba(255,255,255,0.5);
}
.stats th {
  text-align: right;
  padding: 4px 12px;
}
.stats td {
  padding: 4px 12px;
}
.stats p {
  text-align: center;
  font-family: 'Courier New', Courier, monospace, monospace;
}

/* MANAGE */
.manage {
  background-color: grey;
  padding: 45px 10px;
  box-shadow: 0 0 8px 3px grey;
}
.manage form {
  margin: auto;
  box-sizing: border-box;
  width: 420px;
  max-width: 100%;
}
.manage .changePass {
  border: dashed 2px #070;
}
.manage .deleteAcc {
  border: dashed 2px #B00;
}
.manage legend {
  font-family: georgia, serif;
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 2px black;
}
.manage label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
  margin: auto;
  margin-top: 8px;
  font-family: courier, monospace;
}
label.newPass {
  position: relative;
}
.manage input {
  outline: none;
  font-family: verdana;
}

.manage input[type='password'] {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.15);
  border: none;
  border-bottom: solid 1px black;
  padding: 2px 5px;
  letter-spacing: 2px;
  caret-color: white;
}
@media screen and (min-width: 500px){
  .manage label {
    display: block;
    width: 100%;
    text-align: right;
  }
  .manage input[type='password'] {
    width: initial;
  }
}

.manage .btn {
  display: block;
  width: 100%;
  border:none;
  margin-top: 10px;
  padding: 3px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1em;
}
.manage .btn:hover {
  color: #FFFFFF;
}
.manage .btn1 {
  background-image: linear-gradient(to bottom, green 0%, transparent 25%, transparent 75%, green 100%);
}
.manage .btn2 {
  background-image: linear-gradient(to bottom, red 0%, transparent 25%, transparent 75%, red 100%);
}
.manage .btn1:active {
  background-image: linear-gradient(to bottom, transparent 0%, green 25%, green 75%, transparent 100%);
}
.manage .btn2:active {
  background-image: linear-gradient(to bottom, transparent 0%, red 25%, red 75%, transparent 100%);
}
.manage .valRespCont {
  height: 70px;
}
.manage .valResp {
  position: relative;
  text-align: center;
  margin: 6px 10px;
  padding: 4px;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: white;
  transition: none;
  opacity: 0;
  user-select: none;
  border-radius: 5px;
}
.manage .valRespOn {
  transition: opacity 3s;
  opacity: 1;
}
